<div class="wrapper">
  <div class="section-registro">
    <div class="body-registro">
     <div class="row mt-3 mb-3">
      <div class="form-group col-12">

        <ng-container *ngIf="!editar; else modoEditar">
          <label class="title-user">Registro de evento</label>
          <p class="subtitle">Ingresa los datos del nuevo evento</p>
        </ng-container>

        <ng-template #modoEditar>
          <label class="title-user">Edición de evento</label>
          <p class="subtitle">Modifica los datos del evento seleccionado</p>
        </ng-template>

      </div>
    </div>
      <mat-form-field appearance="outline">
        <mat-label>Nombre del Evento</mat-label>
        <input matInput maxlength="50" [(ngModel)]="evento.name_event" placeholder="Escribe el nombre del evento" (keydown)="soloAlfanumerico($event)" style="text-transform: uppercase;">
      </mat-form-field>
      <div *ngIf="errors.name_event" class="invalid-feedback">{{ errors.name_event }}</div>

       <mat-form-field class="mat-input" appearance="outline">
        <mat-label>Tipo de Evento</mat-label>
        <mat-select [(ngModel)]="evento.tipo_evento" placeholder="Selecciona tipo de evento">
          <mat-option *ngFor="let tipo of tipos" [value]="tipo.viewValue">  {{tipo.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="errors.tipo_evento" class="invalid-feedback">{{ errors.tipo_evento }}</div>

        <mat-form-field appearance="outline">
          <mat-label>Fecha de realización</mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="evento.fecha" [min]="hoy"placeholder="Seleccionar fecha" (focus)="picker.open()" (dateChange)="changeFecha($event)" type="string">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div *ngIf="errors.fecha" class="invalid-feedback"> {{ errors.fecha }}
        </div>

      <!-- Hora de inicio -->
        <mat-form-field appearance="outline">
          <mat-label>Hora de Inicio</mat-label>
            <input matInput [ngxMatTimepicker]="pickerInicio" [(ngModel)]="evento.hora_inicio" name="hora_inicio" (ngModelChange)="formatearHora('hora_inicio')"placeholder="Selecciona hora">
          <ngx-mat-timepicker #pickerInicio></ngx-mat-timepicker>
        </mat-form-field>

        <!-- Hora final -->
        <mat-form-field appearance="outline">
          <mat-label>Hora Final</mat-label>
          <input matInput [ngxMatTimepicker]="pickerFinal" [(ngModel)]="evento.hora_final" name="hora_final" (ngModelChange)="formatearHora('hora_final'); validarHoras()"placeholder="Ej. 10:00">
          <ngx-mat-timepicker #pickerFinal></ngx-mat-timepicker>
        </mat-form-field>

        <div *ngIf="errorHora" class="invalid-feedback">
          {{ errorHora }}
        </div>

      <mat-form-field appearance="outline">
        <mat-label>Lugar</mat-label>
        <input matInput [(ngModel)]="evento.lugar" placeholder="Escribe el lugar"(keydown)="soloAlfanumerico($event)" style="text-transform: uppercase;" >
      </mat-form-field>
      <div *ngIf="errors.lugar" class="invalid-feedback">{{ errors.lugar }}</div>

       <div class="select-eventos">
        <div class="row mt-3 mb-3">
          <div class="form-group col-12">
            <label class="title-eventos" for="tipo_usuario">Selecciona el público Objetivo</label>
          </div>
        </div>
        <div class="checkbox-group" *ngFor="let objetivo of objetivos; let i = index">
          <mat-checkbox class="checkbox-item opc-sc" name="opsc" (change)="checkboxChange($event)" value="{{objetivo.nombre}}" [checked]="revisarSeleccion(objetivo.nombre)">
              <div class="d-checkbox-nombre">{{objetivo.nombre}}</div>
          </mat-checkbox>
        </div>
        <div *ngIf="errors.objetivo_json" class="invalid-feedback">{{ errors.objetivo_json }}</div>
      </div>

      <mat-form-field class="mat-input" appearance="outline">
        <mat-label>Programa Educativo</mat-label>
        <mat-select [(ngModel)]="evento.programa_educativo" placeholder="Selecciona tu carrera">
          <mat-option *ngFor="let carrera of carreras" [value]="carrera.viewValue">  {{carrera.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="errors.programa_educativo" class="invalid-feedback">{{ errors.programa_educativo }}</div>

      <mat-form-field appearance="outline">
        <mat-label>Responsable del evento</mat-label>
          <mat-select [(ngModel)]="evento.responsable_evento" placeholder="Selecciona el responsable">
            <mat-option *ngFor="let r of listaResponsables" [value]="r.id"> {{ r.nombre }} ({{ r.rol }})</mat-option>
          </mat-select>
      </mat-form-field>
      <div *ngIf="errors.responsable_evento" class="invalid-feedback">{{ errors.responsable_evento }}</div>
      <mat-form-field appearance="outline">
        <mat-label>Descripción</mat-label>
        <textarea matInput rows="3" maxlength="300" [(ngModel)]="evento.descripcion"  (input)="validarDescripcion($event)" placeholder="Descripción del evento"></textarea>
        <mat-hint align="end"> {{ evento.descripcion?.length || 0 }}/300</mat-hint>
      </mat-form-field>
      <div *ngIf="errors.descripcion" class="invalid-feedback">{{ errors.descripcion }}</div>

      <mat-form-field appearance="outline">
        <mat-label>Número máximo de asistentes</mat-label>
        <input matInput text="number" maxlength= "3"(input)="soloNumeros($event)" [(ngModel)]="evento.Asistentes" placeholder="Ej. 100">
      </mat-form-field>
      <div *ngIf="errors.Asistentes" class="invalid-feedback">{{ errors.Asistentes }}</div>

      <div class="section-buttons">
        <button class="btn btn-danger" (click)="regresar()">Cancelar</button>
        <button *ngIf="!editar" class="btn btn-primary" (click)="registrar()">Registrar</button>
        <button *ngIf="editar" class="btn btn-primary" [disabled]="errorHora" (click)="actualizar()">Actualizar</button>
      </div>
    </div>
  </div>
</div>
